<div class="card">
  <h2><b>Active Users</b></h2>
  <span *ngFor="let user of userList">
    <div class="card-text" *ngIf="user.status == 'active'">
      <div class="card-subtitle">
        <div class="row">
          <div class="col">
            <b>{{ user.name }}</b>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="updateStatus(user)"
            >
              Set To Inactive
            </button>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>
